<ion-header>
  <ion-navbar>
    <ion-title>
      <button ion-button icon-only (click)="exit()">
          <ion-icon name="exit"></ion-icon>
      </button>  
      MyPlaces
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addPlace()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item *ngFor="let item of myplaces"  (click)="showOptions(item)">
          <ion-thumbnail item-start>
              <button ion-button large><ion-icon name="pin"></ion-icon></button>
          </ion-thumbnail>
          <h2>{{ item.Title }}</h2>
          <p>{{ item.latitude }}</p> <p>{{ item.longitude }}</p>          
        </ion-item>
      </ion-list>
  
</ion-content>
