page-meeting-points {

}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: rgb(229, 228, 148);
    background-color: rgb(229, 228, 148);
}