<ion-header>
    <ion-navbar>
      <ion-title>
        <button ion-button icon-only (click)="exit()">
            <ion-icon name="exit"></ion-icon>
        </button>  
        Meeting Points
      </ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="addMeetingPoint()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

      <ion-list>
          <div *ngFor="let item of meetingpoints" >

              <ion-item *ngIf="item.creator == me.email" (click)="showOptions(item)">
                <ion-thumbnail item-start>
                    <button ion-button large><ion-icon name="ribbon"></ion-icon></button>
                </ion-thumbnail>
                <h2>{{ item.Title }}</h2>
                <p>{{ item.description }}</p>         
              </ion-item>

              <ion-item class="container darker" *ngIf="item.user1 == me.email || item.user2 == me.email || item.user3 == me.email" >
                  <ion-thumbnail item-start>
                      <button ion-button large><ion-icon name="ribbon"></ion-icon></button>
                  </ion-thumbnail>
                  <h2>{{ item.Title }}</h2>
                  <p>{{ item.description }}</p> 
                  <button ion-button large clear item-end>
                    <ion-icon name="star" (click)="showInfo()"></ion-icon>
                  </button>
              </ion-item>

          </div>
        </ion-list>
    
  </ion-content>