<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
    <div style="text-align:center; padding-top:20px; padding-bottom:20px; ">
        <h1>Registration</h1>
    </div>

    <ion-list>
        <ion-item>
          <ion-input type="text" [(ngModel)]="user.name" placeholder="Nombre" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="user.lastName" placeholder="Apellido" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" [(ngModel)]="user.email" placeholder="Email" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" [(ngModel)]="user.password" placeholder="Password" clearInput></ion-input>
        </ion-item>                
      </ion-list>

      <div style="padding-top:20px; padding-bottom:10px;">
        <button ion-button full (click)="register()">Register</button>     
      </div>
      <div>
        <button ion-button full color="danger" (click)="back()">Cancel</button>
      </div>
     

    

</ion-content>
