<ion-header>
  <ion-navbar>
    <ion-title>
      <button ion-button icon-only (click)="exit()">
        <ion-icon name="exit"></ion-icon>
      </button>
      Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <!-- <div id="map_canvas"></div>  -->
   <div id="map_canvas">
    <button ion-button end (click)="onButtonClick($event)">Find my current Location</button>
  </div> 
</ion-content>
