<!--
  Generated template for the ExitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Exit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

        <div style="text-align:center; padding-top:50px; padding-bottom:20px; ">
          <h1>Are you sure you want to sign out?</h1>
        </div>            
                 
        <div style="padding-top:20px; padding-bottom:30px;">
          <button ion-button full color="secondary" (click)="backToLogin()">Sign out</button>
        </div>
        
</ion-content>
<ion-footer>
</ion-footer>
